body{
    background-color: rgb(20,20,20);
    background-image: url("Assets/Images/Scales.png");
    color: white;
    width: 100%;
    height: 100%;
}

.background-gradient{
    position: fixed;
    object-fit: cover;
}

/* Top bar displaying page buttons */
.nav{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(10,10,10);
    gap: 0.5rem;
    padding: 0.25rem;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0 .125rem .25rem rgba(46, 126, 255, 0.25);
    list-style: none;
    padding-left: 0;
}

/* Each page button at the top of the screen */
.nav-item {
    flex: 1 1 auto;
    text-align: center;
}

.nav-item .nav-link {
    width: 100%;
    color: rgb(85, 125, 255);
}

.nav-link.active {
    border-radius: 0.375rem;
    background-color: rgb(85, 125, 255);
    color: black;
}

/* Stores individual pages as a group */
.pages{
    position: relative;
}

/* Each page that can be displayed */
.page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title-frame{
    background-color: rgb(10,10,10);
    width: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 3rem;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0rem 1rem rgba(46, 126, 255, 0.25);
    color: rgb(85, 125, 255);
}

.text-frame{
    background-color: rgb(10,10,10);
    width: 90%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0rem 1rem rgba(46, 126, 255, 0.25);
    color: rgb(255, 255, 255);
}